
/*=======colors===========*/
$top-bg     :  #f7f7f7;
$header-bg  :  #ffffff;
$text-dark  :  #000;
$text-light :  yellow;
$title-color:   red;
$text-white :  #fff;
$bg-white   :  #fff;
$bg-white   :  #fff;
$theme-bg   :  #f7f7f7;
$button-bg  :  #f9b707;
$footer-bg  :  #202020;    

