@media screen and (max-width: 1200px){
	.topbar .container .topbar-left ul li{
		padding: 0px 5px;
	}
}
@media screen and (max-width: 992px){
		.topbar .container .topbar-left ul{
			text-align: center;
		}
		.topbar .container .topbar-right ul{
			text-align: center;
		

		
}